

body {
    position: relative;
    width: 1440px;
    height: 800px;
    background: #0B0D17;
    background-image: url('assets/home/Backgroundimg.jpg');
}


/* body {
    background-image: url('assets/home/Backgroundimg.jpg');
    color: white;
    margin: 0 auto;
    margin-top: 40px;
} 

*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
}

ul {
    display: flex;
    align-items: center;
    width: 780px;
    height: 96px;
    left: 610px;
    top: 40px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    justify-content: center;
}

.logotop {
    width: 48px;
    height: 48px;
    left: 55px;
    top: 64px;
    margin-left: 60px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-top: 120px;
}

.texto {
    width: 450px;
}

h3 {
    font-size: 28px;
}

h1 {
    font-size: 150px;
}

p {
    font-size: 18px;
}

button {
    margin-top: 10px;
    margin-right: 250px;
    Width: 200px; 
    Height: 200px;
    border-radius: 100%;
}

hr {
    position: absolute;
    border-style: solid;
    color: white;
    width: 400px;
    margin-left: 300px;
}