@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Bellefair&family=Merriweather:ital@1&display=swap');


/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    background: none;
    border: none;
}

body {
    background-image: url(assets/home/Backgroundimg.jpg);
    padding: 30px 0px 0px 50px;
    background-size: 1440px 900px;
    background-repeat: no-repeat;
    color: white;
}

header {
    position: relative;
    height: 14vh;
    width: 1316px;
    display: flex;
    align-items: center;
}

.logo {
    position: absolute;
}

.linha {
    position: absolute;
    width: 450px;
    height: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    left: 100px;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.menu {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.04);
    height: 14vh;
    align-items: center;
    display: flex;
    width: 830px;
    left: 486px;
    backdrop-filter: blur(40.7742px);
}

navi {
    margin: auto;
}

navi>a {
    margin-right: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-style: normal;
}

main {
    position: relative;

}

.conteudo {
    width: 500px;
    height: 500px;
    padding-top: 170px;
    display: inline-block;
    margin-left: 100px;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2em;
    font-weight: normal;
    color: #D0D6F9;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-style: normal;
    line-height: 34px;
}

h1 {
    font-family: 'Bellefair', serif;
    font-size: 10em;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    font-style: normal;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    color: #D0D6F9;
    font-style: normal;
}

.divbotao {
    padding-top: 200px;
    position: absolute;
    display: inline-block;
    width: 500px;
    height: 500px;
    margin-left: 200px;
}


.divbotao>a {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 50px;
    text-decoration: none;
    font-family: 'Bellefair', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    letter-spacing: 3px;
    text-transform: uppercase;
    justify-content: center;
}